{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <h1>Nouvelle publication</h1>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_home') }}" class="btn btn-sm btn-default">
                Retour au menu
            </a>
        </li>
    </ul>
{% endblock %}
