<ul class="nav nav-sidebar">
    <li>
        <a href="localhost:8000/publication">
            Publications
        </a>
    </li>
    <li>
        <a href="localhost:8000/science">
            Sciences
        </a>
    </li>
</ul>
