<ul class="nav nav-sidebar">
    <li>
        <a href="{{path('publication_index')}}">
            Publications
        </a>
    </li>
    <li>
        <a href="{{path('science_index')}}">
            Sciences
        </a>
    </li>
</ul>
